<div class="intro-header">
  <div class="intro-header__overlay"></div>
  <canvas id="canvas" class="intro-header__snow"></canvas>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <div class="intro__makenew">pittsburgh</div>
          <div class="intro__subtitle">Winter Challenge</div>
          <div class="stats">
            <div class="stat stat--with-bg">
              <i class="fa fa-crown fa-2x"></i>
              <h3><%= @winner[0] %></h3>
              <div class="stat__count"><%= @winner[1] %></div>
              <div class="stat__label">Points</div>
            </div>
            <% @points.each do |team| %>
              <div class="stat stat--with-bg">
                <h3><%= team[0] %></h3>
                <div class="stat__count"><%= team[1] %></div>
                <div class="stat__label">Points</div>
              </div>
            <% end %>
          </div>
          <button type="button" data-toggle="modal" data-target="#logChallenge" class="btn btn-info btn-lg">Log a challenge</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="https://png2.cleanpng.com/sh/7943c9bb6954dda8e28c3cf0a8d82193/L0KzQYm3UsE4N5pqfZH0aYP2gLBuTgNvd6gyfNHCbnzycbW0kB5wf155hAl3LUXkSInqhMNmPpY4eqcELka8RISAVsk2OWY2UKs6NEi6SIW8UcUveJ9s/kisspng-snow-download-snow-town-5a88cd3e6e3b59.6943769515189148784515.png" width="100%">
      </div>
      <div class="col-sm-12 col-md-6">
        <h2 class="section-heading">The Challenge</h2>
        <p>This winter break, let's stir up one another to love and good works with some friendly competition! Complete various challenges to grow, serve others, and equip yourself, and compete with teams along the way!</p>
        <p>The challenge ends on January 4th, 2020.</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-heading">Prizes</h2>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="prize-container">
          <div class="icon mb-3"><i class="fas fa-tshirt fa-3x"></i></div>
          <h3 class="mb-3">MakeNew Shirt</h3>
          <p>The winning team gets a special, limited edition MakeNew shirt! (To qualify for this, you must complete challenges from 3 out of 4 categories, with a total of at least 250 points.)</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="prize-container">
          <div class="icon mb-3"><i class="fas fa-tree fa-3x"></i></div>
          <h3 class="mb-3">Free Trip to Spring Retreat</h3>
          <p>The student with the most points overall (minimum 500 points, with a complete challenge from every category) gets a
            free trip to Spring Retreat!</p>
        </div>
      </div>
    </div>
  </div>
</div>
