<div class="content-section-b">
    <div class="container container--padding">
        <div class="row">
            <div class ="col-lg-12">
                <h2 class="section-heading">Stats</h2>

                <div class="stats">
                    <div class="stat">
                        <h3><%= @winner[0] %></h3>
                        <div class="stat__count"><%= @winner[1] %></div>
                        <div class="stat__label">Points</div>
                    </div>

                    <% @points.each do |team| %>
                        <div class="stat">
                            <h3><%= team[0] %></h3>
                            <div class="stat__count"><%= team[1] %></div>
                            <div class="stat__label">Points</div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

