<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-12">
                <hr class="section-heading-spacer-left">
                <div class="clearfix"></div>
                <h2 class="section-heading">100* Verses Christians Should Know<br><sub>*actually more than 100 verses</sub></h2>

                <ol class="lead">
                    <p><b>Exodus 19:4-6</b><br>
                    You yourselves have seen what I did to the Egyptians, and how I bore you on eagles' wings and brought you to myself. Now therefore, if you will indeed obey my voice and keep my covenant, you shall be my treasured possession among all peoples, for all the earth is mine; and you shall be to me a kingdom of priests and a holy nation. These are the words that you shall speak to the people of Israel.”</p>

                    <p><b>Deuteronomy 6:4-5</b><br>  
                    “Hear, O Israel: The LORD our God, the LORD is one. You shall love the LORD your God with all your heart and with all your soul and with all your might.</p>

                    <p><b>Joshua 1:7-9</b><br>
                    Only be strong and very courageous, being careful to do according to all the law that Moses my servant commanded you. Do not turn from it to the right hand or to the left, that you may have good success wherever you go. This Book of the Law shall not depart from your mouth, but you shall meditate on it day and night, so that you may be careful to do according to all that is written in it. For then you will make your way prosperous, and then you will have good success. Have I not commanded you? Be strong and courageous. Do not be frightened, and do not be dismayed, for the LORD your God is with you wherever you go.”</p>

                    <p><b>1 Samuel 12:23</b><br>
                    Moreover, as for me, far be it from me that I should sin against the LORD by ceasing to pray for you, and I will instruct you in the good and the right way.</p>

                    <p><b>1 Samuel 15:22</b><br>
                    And Samuel said, “Has the LORD as great delight in burnt offerings and sacrifices, as in obeying the voice of the LORD? Behold, to obey is better than sacrifice, and to listen than the fat of rams.</p>

                    <p><b>2 Chronicles 7:14</b><br>
                    If my people who are called by my name humble themselves, and pray and seek my face and turn from their wicked ways, then I will hear from heaven and will forgive their sin and heal their land.</p>

                    <p><b>2 Chronicles 16:9</b><br>
                    For the eyes of the LORD run to and fro throughout the whole earth, to give strong support to those whose heart is blameless toward him. You have done foolishly in this, for from now on you will have wars.”</p>

                    <p><b>Job 19:25-27</b><br>
                    For I know that my Redeemer lives, and at the last he will stand upon the earth. And after my skin has been thus destroyed, yet in my flesh I shall see God, whom I shall see for myself, and my eyes shall behold, and not another. My heart faints within me!
                   </p>   
                    <p><b>Job 42:5-6</b><br>
                    I had heard of you by the hearing of the ear, but now my eye sees you; therefore I despise myself, and repent in dust and ashes.”</p>

                    <p><b>Psalm 16:2-3</b><br>
                    I say to the LORD, “You are my Lord; I have no good apart from you.” As for the saints in the land, they are the excellent ones, in whom is all my delight.</p>

                    <p><b>Psalm 34:8-9</b><br>
                    Oh, taste and see that the LORD is good! Blessed is the man who takes refuge in him! Oh, fear the LORD, you his saints, for those who fear him have no lack!</p>

                    <p><b>Psalm 37:4-7</b><br>
                    Delight yourself in the LORD, and he will give you the desires of your heart. Commit your way to the LORD; trust in him, and he will act. He will bring forth your righteousness as the light, and your justice as the noonday. Be still before the LORD and wait patiently for him; fret not yourself over the one who prospers in his way, over the man who carries out evil devices!</p>

                    <p><b>Psalm 46:10</b><br>
                    “Be still, and know that I am God. I will be exalted among the nations, I will be exalted in the earth!”</p>

                    <p><b>Psalm 51:10-12</b><br>
                    Create in me a clean heart, O God, and renew a right spirit within me. Cast me not away from your presence, and take not your Holy Spirit from me. Restore to me the joy of your salvation, and uphold me with a willing spirit.</p>

                    <p><b>Psalm 84:10</b><br>
                    For a day in your courts is better than a thousand elsewhere. I would rather be a doorkeeper in the house of my God than dwell in the tents of wickedness.</p>

                    <p><b>Psalm 103:8-12</b><br>
                    The LORD is merciful and gracious, slow to anger and abounding in steadfast love. He will not always chide, nor will he keep his anger forever. He does not deal with us according to our sins, nor repay us according to our iniquities. For as high as the heavens are above the earth, so great is his steadfast love toward those who fear him; as far as the east is from the west, so far does he remove our transgressions from us.</p>

                    <p><b>Psalm 119:11</b><br>
                    I have stored up your word in my heart, that I might not sin against you.</p>

                    <p><b>Psalm 119:105</b><br>
                    Your word is a lamp to my feet and a light to my path.</p>

                    <p><b>Proverbs 3:5-6</b><br>
                    Trust in the LORD with all your heart, and do not lean on your own understanding. In all your ways acknowledge him, and he will make straight your paths.</p>

                    <p><b>Isaiah 1:18</b><br>
                    “Come now, let us reason together, says the LORD: though your sins are like scarlet, they shall be as white as snow; though they are red like crimson, they shall become like wool.</p>

                    <p><b>Isaiah 40:6-8</b><br>
                    A voice says, “Cry!” And I said, “What shall I cry?” All flesh is grass, and all its beauty is like the flower of the field. The grass withers, the flower fades when the breath of the LORD blows on it; surely the people are grass. The grass withers, the flower fades, but the word of our God will stand forever.</p>

                    <p><b>Isaiah 40:28-31</b><br>
                    Have you not known? Have you not heard? The LORD is the everlasting God, the Creator of the ends of the earth. He does not faint or grow weary; his understanding is unsearchable. He gives power to the faint, and to him who has no might he increases strength. Even youths shall faint and be weary, and young men shall fall exhausted; but they who wait for the LORD shall renew their strength; they shall mount up with wings like eagles;
                    they shall run and not be weary; they shall walk and not faint.</p>

                    <p><b>Isaiah 54:2-3</b><br>
                    “Enlarge the place of your tent, and let the curtains of your habitations be stretched out; do not hold back; lengthen your cords and strengthen your stakes. For you will spread abroad to the right and to the left, and your offspring will possess the nations and will people the desolate cities.</p>

                    <p><b>Isaiah 55:1-3a</b><br>
                    “Come, everyone who thirsts, come to the waters; and he who has no money, come, buy and eat! Come, buy wine and milk without money and without price. Why do you spend your money for that which is not bread, and your labor for that which does not satisfy? Listen diligently to me, and eat what is good, and delight yourselves in rich food. Incline your ear, and come to me; hear, that your soul may live;</p>

                    <p><b>Isaiah 55:8-9</b><br>
                    For my thoughts are not your thoughts, neither are your ways my ways, declares the LORD. For as the heavens are higher than the earth, so are my ways higher than your ways and my thoughts than your thoughts.</p>

                    <p><b>Isaiah 57:15</b><br>
                    For thus says the One who is high and lifted up, who inhabits eternity, whose name is Holy: “I dwell in the high and holy place, and also with him who is of a contrite and lowly spirit, to revive the spirit of the lowly, and to revive the heart of the contrite.</p>

                    <p><b>Isaiah 66:1-2</b><br>
                    Thus says the LORD: “Heaven is my throne, and the earth is my footstool;
                    what is the house that you would build for me, and what is the place of my rest? All these things my hand has made, and so all these things came to be, declares the LORD. But this is the one to whom I will look: he who is humble and contrite in spirit and trembles at my word.</p></p>

                    <p><b>Jeremiah 9:23-24</b><br>
                    Thus says the LORD: “Let not the wise man boast in his wisdom, let not the mighty man boast in his might, let not the rich man boast in his riches, but let him who boasts boast in this, that he understands and knows me, that I am the LORD who practices steadfast love, justice, and righteousness in the earth. For in these things I delight, declares the LORD.”</p></p>

                    <p><b>Jeremiah 29:11-13</b><br>
                    For I know the plans I have for you, declares the LORD, plans for welfare and not for evil, to give you a future and a hope. Then you will call upon me and come and pray to me, and I will hear you. You will seek me and find me, when you seek me with all your heart.</p></p>

                    <p><b>Jeremiah 33:3</b><br>
                    Call to me and I will answer you, and will tell you great and hidden things that you have not known.</p></p>

                    <p><b>Lamentations 3:21-23</b><br>
                    But this I call to mind, and therefore I have hope: The steadfast love of the LORD never ceases; his mercies never come to an end; they are new every morning; great is your faithfulness.</p></p>

                    <p><b>Joel 2:13  </b><br>
                    Rend your hearts and not your garments.”
                    Return to the LORD your God, for he is gracious and merciful, slow to anger, and abounding in steadfast love; and he relents over disaster.</p></p>

                    <p><b>Micah 6:8  </b><br>
                    He has told you, O man, what is good; and what does the LORD require of you but to do justice, and to love kindness, and to walk humbly with your God?</p></p>

                    <p><b>Habakkuk 3:17-18 </b><br>
                    Though the fig tree should not blossom, nor fruit be on the vines, the produce of the olive fail and the fields yield no food,
                    the flock be cut off from the fold and there be no herd in the stalls, yet I will rejoice in the LORD; I will take joy in the God of my salvation.</p></p>

                    <p><b>Zechariah 4:6b</b><br>
                    Not by might, nor by power, but by my Spirit, says the LORD of hosts.</p></p>

                    <p><b>Zephaniah 3:17  </b><br>
                    The LORD your God is in your midst, a mighty one who will save; he will rejoice over you with gladness; he will quiet you by his love; he will exult over you with loud singing.</p></p>

                    <p><b>Malachi 3:10</b><br>
                    Bring the full tithe into the storehouse, that there may be food in my house. And thereby put me to the test, says the LORD of hosts, if I will not open the windows of heaven for you and pour down for you a blessing until there is no more need.</p></p>

                    <p><b>Matthew 6:19-21</b><br>
                    “Do not lay up for yourselves treasures on earth, where moth and rust destroy and where thieves break in and steal, but lay up for yourselves treasures in heaven, where neither moth nor rust destroys and where thieves do not break in and steal. For where your treasure is, there your heart will be also.</p></p>

                    <p><b>Matthew 6:24 </b><br>
                    No one can serve two masters, for either he will hate the one and love the other, or he will be devoted to the one and despise the other. You cannot serve God and money.</p></p>

                    <p><b>Matthew 6:33-34  </b><br>
                    But seek first the kingdom of God and his righteousness, and all these things will be added to you. Therefore do not be anxious about tomorrow, for tomorrow will be anxious for itself. Sufficient for the day is its own trouble.</p></p>

                    <p><b>Matthew 7:7-8  </b><br>
                    Ask, and it will be given to you; seek, and you will find; knock, and it will be opened to you. For everyone who asks receives, and the one who seeks finds, and to the one who knocks it will be opened.</p></p>

                    <p><b>Matthew 7:13-14  </b><br>
                    Enter by the narrow gate. For the gate is wide and the way is easy that leads to destruction, and those who enter by it are many. For the gate is narrow and the way is hard that leads to life, and those who find it are few.</p></p>

                    <p><b>Matthew 11:28-29 </b><br>
                    Come to me, all who labor and are heavy laden, and I will give you rest. Take my yoke upon you, and learn from me, for I am gentle and lowly in heart, and you will find rest for your souls.</p></p>

                    <p><b>Matthew 22:37-39</b><br>
                    And he said to him, “You shall love the Lord your God with all your heart and with all your soul and with all your mind. This is the great and first commandment. And a second is like it: You shall love your neighbor as yourself.</p>

                    <p><b>Matthew 28:18-20</b><br>
                    And Jesus came and said to them, “All authority in heaven and on earth has been given to me. Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.”</p></p>

                    <p><b>Mark 10:43-45  </b><br>
                    But it shall not be so among you. But whoever would be great among you must be your servant, and whoever would be first among you must be slave of all. For even the Son of Man came not to be served but to serve, and to give his life as a ransom for many.”</p></p>

                    <p><b>Luke 9:23-25</b><br>
                    And he said to all, “If anyone would come after me, let him deny himself and take up his cross daily and follow me.” For whoever would save his life will lose it, but whoever loses his life for my sake will save it. For what does it profit a man if he gains the whole world and loses or forfeits himself?”</p></p>

                    <p><b>Luke 10:20</b><br>
                    Nevertheless, do not rejoice in this, that the spirits are subject to you, but rejoice that your names are written in heaven.”</p></p>

                    <p><b>Luke 11:13</b><br>
                    If you then, who are evil, know how to give good gifts to your children, how much more will the heavenly Father give the Holy Spirit to those who ask him!”</p></p>

                    <p><b>Luke 12:32</b><br>
                    Fear not, little flock, for it is your Father's good pleasure to give you the kingdom.</p></p>

                    <p><b>Luke 12:48b</b><br>
                    Everyone to whom much was given, of him much will be required, and from him to whom they entrusted much, they will demand the more.</p></p>

                    <p><b>Luke 14:26 </b><br>
                    If anyone comes to me and does not hate his own father and mother and wife and children and brothers and sisters, yes, and even his own life, he cannot be my disciple.</p></p>

                    <p><b>Luke 17:10</b><br>
                    So you also, when you have done all that you were commanded, say, ‘We are unworthy servants; we have only done what was our duty.’”</p></p>

                    <p><b>John 1:12 </b><br>
                    But to all who did receive him, who believed in his name, he gave the right to become children of God</p></p>

                    <p><b>John 1:14</b><br>
                    And the Word became flesh and dwelt among us, and we have seen his glory, glory as of the only Son from the Father, full of grace and truth.</p></p>

                    <p><b>John 3:16 </b><br>
                    For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life.</p></p>

                    <p><b>John 5:44</b><br>
                    How can you believe, when you receive glory from one another and do not seek the glory that comes from the only God?</p></p>

                    <p><b>John 6:68-69</b><br>
                    Simon Peter answered him, “Lord, to whom shall we go? You have the words of eternal life, and we have believed, and have come to know, that you are the Holy One of God.”</p></p>

                    <p><b>John 8:31-32   </b><br>
                    So Jesus said to the Jews who had believed him, “If you abide in my word, you are truly my disciples, and you will know the truth, and the truth will set you free.”</p></p>

                    <p><b>John 10:10-11  </b><br>
                    The thief comes only to steal and kill and destroy. I came that they may have life and have it abundantly. I am the good shepherd. The good shepherd lays down his life for the sheep.</p></p>

                    <p><b>John 10:27-30  </b><br>
                    My sheep hear my voice, and I know them, and they follow me. I give them eternal life, and they will never perish, and no one will snatch them out of my hand. My Father, who has given them to me, is greater than all, and no one is able to snatch them out of the Father's hand. I and the Father are one.</p></p>

                    <p><b>John 12:24-25 </b><br>
                    Truly, truly, I say to you, unless a grain of wheat falls into the earth and dies, it remains alone; but if it dies, it bears much fruit. Whoever loves his life loses it, and whoever hates his life in this world will keep it for eternal life.</p></p>

                    <p><b>John 13:34-35  </b><br>
                    A new commandment I give to you, that you love one another: just as I have loved you, you also are to love one another. By this all people will know that you are my disciples, if you have love for one another.”</p>

                    <p><b>John 14:1-3  </b><br>
                    Let not your hearts be troubled. Believe in God; believe also in me. In my Father's house are many rooms. If it were not so, would I have told you that I go to prepare a place for you? And if I go and prepare a place for you, I will come again and will take you to myself, that where I am you may be also.</p>

                    <p><b>John 14:6</b><br>
                    Jesus said to him, “I am the way, and the truth, and the life. No one comes to the Father except through me.</p>

                    <p><b>John 14:27</b><br>
                    Peace I leave with you; my peace I give to you. Not as the world gives do I give to you. Let not your hearts be troubled, neither let them be afraid.</p>

                    <p><b>John 15:5</b><br>
                    I am the vine; you are the branches. Whoever abides in me and I in him, he it is that bears much fruit, for apart from me you can do nothing.</p>

                    <p><b>John 16:33  </b><br>
                    I have said these things to you, that in me you may have peace. In the world you will have tribulation. But take heart; I have overcome the world.</p>

                    <p><b>Acts 1:8</b><br>
                    But you will receive power when the Holy Spirit has come upon you, and you will be my witnesses in Jerusalem and in all Judea and Samaria, and to the end of the earth.</p>

                    <p><b>Acts 3:19  </b><br>
                    Repent therefore, and turn back, that your sins may be blotted out.</p>

                    <p><b>Acts 4:12</b><br>
                    And there is salvation in no one else, for there is no other name under heaven given among men by which we must be saved.</p>

                    <p><b>Acts 20:24</b><br>
                    But I do not account my life of any value nor as precious to myself, if only I may finish my course and the ministry that I received from the Lord Jesus, to testify to the gospel of the grace of God.</p>

                    <p><b>Romans 1:16  </b><br>
                    For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew first and also to the Greek.</p>

                    <p><b>Romans 2:4</b><br>
                    Or do you presume on the riches of his kindness and forbearance and patience, not knowing that God's kindness is meant to lead you to repentance?</p>

                    <p><b>Romans 3:23  </b><br>
                    For all have sinned and fall short of the glory of God.</p>

                    <p><b>Romans 5:6-10</b><br>
                    For while we were still weak, at the right time Christ died for the ungodly. For one will scarcely die for a righteous person—though perhaps for a good person one would dare even to die — but God shows his love for us in that while we were still sinners, Christ died for us. Since, therefore, we have now been justified by his blood, much more shall we be saved by him from the wrath of God. For if while we were enemies we were reconciled to God by the death of his Son, much more, now that we are reconciled, shall we be saved by his life.</p>

                    <p><b>Romans 6:12-13 </b><br>
                    Let not sin therefore reign in your mortal body, to make you obey its passions. Do not present your members to sin as instruments for unrighteousness, but present yourselves to God as those who have been brought from death to life, and your members to God as instruments for righteousness.</p>

                    <p><b>Romans 6:23  </b><br>
                    For the wages of sin is death, but the free gift of God is eternal life in Christ Jesus our Lord.</p>

                    <p><b>Romans 8:1-2  </b><br>
                    There is therefore now no condemnation for those who are in Christ Jesus. For the law of the Spirit of life has set you free in Christ Jesus from the law of sin and death.</p>

                    <p><b>Romans 8:15-16  </b><br>
                    For you did not receive the spirit of slavery to fall back into fear, but you have received the Spirit of adoption as sons, by whom we cry, “Abba! Father!” The Spirit himself bears witness with our spirit that we are children of God.</p>

                    <p><b>Romans 8:28  </b><br>
                    And we know that for those who love God all things work together for good, for those who are called according to his purpose.</p>

                    <p><b>Romans 8:37-39  </b><br>
                    No, in all these things we are more than conquerors through him who loved us. For I am sure that neither death nor life, nor angels nor rulers, nor things present nor things to come, nor powers, nor height nor depth, nor anything else in all creation, will be able to separate us from the love of God in Christ Jesus our Lord.</p>

                    <p><b>Romans 10:9-10  </b><br>
                    Because, if you confess with your mouth that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved. For with the heart one believes and is justified, and with the mouth one confesses and is saved.</p>

                    <p><b>Romans 12:1-2  </b><br>
                    I appeal to you therefore, brothers, by the mercies of God, to present your bodies as a living sacrifice, holy and acceptable to God, which is your spiritual worship. Do not be conformed to this world, but be transformed by the renewal of your mind, that by testing you may discern what is the will of God, what is good and acceptable and perfect.</p>

                    <p><b>Romans 13:8  </b><br>
                    Owe no one anything, except to love each other, for the one who loves another has fulfilled the law.</p>

                    <p><b>Romans 14:8  </b><br>
                    For if we live, we live to the Lord, and if we die, we die to the Lord. So then, whether we live or whether we die, we are the Lord's.</p>

                    <p><b>1 Corinthians 1:18  </b><br>
                    For the word of the cross is folly to those who are perishing, but to us who are being saved it is the power of God.</p>

                    <p><b>1 Corinthians 2:2</b><br>
                    For I decided to know nothing among you except Jesus Christ and him crucified.</p>

                    <p><b>1 Corinthians 2:14  </b><br>
                    The natural person does not accept the things of the Spirit of God, for they are folly to him, and he is not able to understand them because they are spiritually discerned.</p>

                    <p><b>1 Corinthians 6:19-20  </b><br>
                    Or do you not know that your body is a temple of the Holy Spirit within you, whom you have from God? You are not your own, for you were bought with a price. So glorify God in your body.</p>

                    <p><b>1 Corinthians 9:22b</b><br>
                    I have become all things to all people, that by all means I might save some.</p>

                    <p><b>1 Corinthians 9:26-27</b><br>
                    So I do not run aimlessly; I do not box as one beating the air. But I discipline my body and keep it under control, lest after preaching to others I myself should be disqualified.</p>

                    <p><b>1 Corinthians 10:13</b><br>
                    No temptation has overtaken you that is not common to man. God is faithful, and he will not let you be tempted beyond your ability, but with the temptation he will also provide the way of escape, that you may be able to endure it.</p>

                    <p><b>1 Corinthians 12:18</b><br>
                    But as it is, God arranged the members in the body, each one of them, as he chose.</p>

                    <p><b>1 Corinthians 13:13  </b><br>
                    So now faith, hope, and love abide, these three; but the greatest of these is love.</p>

                    <p><b>1 Corinthians 15:58  </b><br>
                    Therefore, my beloved brothers, be steadfast, immovable, always abounding in the work of the Lord, knowing that in the Lord your labor is not in vain.</p>

                    <p><b>2 Corinthians 3:5  </b><br>
                    Not that we are sufficient in ourselves to claim anything as coming from us, but our sufficiency is from God.</p>

                    <p><b>2 Corinthians 3:17</b><br>
                    Now the Lord is the Spirit, and where the Spirit of the Lord is, there is freedom.</p>

                    <p><b>2 Corinthians 4:4</b><br>
                    In their case the god of this world has blinded the minds of the unbelievers, to keep them from seeing the light of the gospel of the glory of Christ, who is the image of God.</p>

                    <p><b>2 Corinthians 4:7</b><br>
                    But we have this treasure in jars of clay, to show that the surpassing power belongs to God and not to us.</p>

                    <p><b>2 Corinthians 4:16-18</b><br>
                    So we do not lose heart. Though our outer self is wasting away, our inner self is being renewed day by day. For this light momentary affliction is preparing for us an eternal weight of glory beyond all comparison, as we look not to the things that are seen but to the things that are unseen. For the things that are seen are transient, but the things that are unseen are eternal.</p>

                    <p><b>2 Corinthians 5:7</b><br>
                    For we walk by faith, not by sight.</p>

                    <p><b>2 Corinthians 5:14</b><br>
                    For the love of Christ controls us, because we have concluded this: that one has died for all, therefore all have died.</p>

                    <p><b>2 Corinthians 5:17  </b><br>
                    Therefore, if anyone is in Christ, he is a new creation. The old has passed away; behold, the new has come.</p>

                    <p><b>2 Corinthians 6:14</b><br>
                    Do not be unequally yoked with unbelievers. For what partnership has righteousness with lawlessness? Or what fellowship has light with darkness?</p>

                    <p><b>2 Corinthians 7:10</b><br>
                    For godly grief produces a repentance that leads to salvation without regret, whereas worldly grief produces death.</p>

                    <p><b>2 Corinthians 9:7</b><br>
                    Each one must give as he has decided in his heart, not reluctantly or under compulsion, for God loves a cheerful giver.</p>

                    <p><b>2 Corinthians 11:14</b><br>
                    And no wonder, for even Satan disguises himself as an angel of light.</p>

                    <p><b>2 Corinthians 12:9-10</b><br>
                    But he said to me, “My grace is sufficient for you, for my power is made perfect in weakness.” Therefore I will boast all the more gladly of my weaknesses, so that the power of Christ may rest upon me. For the sake of Christ, then, I am content with weaknesses, insults, hardships, persecutions, and calamities. For when I am weak, then I am strong.</p>

                    <p><b>Galatians 1:10</b><br>
                    For am I now seeking the approval of man, or of God? Or am I trying to please man? If I were still trying to please man, I would not be a servant of Christ.</p>

                    <p><b>Galatians 2:20 </b><br>
                    I have been crucified with Christ. It is no longer I who live, but Christ who lives in me. And the life I now live in the flesh I live by faith in the Son of God, who loved me and gave himself for me.</p>

                    <p><b>Galatians 5:16-17  </b><br>
                    But I say, walk by the Spirit, and you will not gratify the desires of the flesh. For the desires of the flesh are against the Spirit, and the desires of the Spirit are against the flesh, for these are opposed to each other, to keep you from doing the things you want to do.</p>

                    <p><b>Galatians 5:22-23  </b><br>
                    But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, self-control; against such things there is no law.</p>

                    <p><b>Galatians 6:2</b><br>
                    Bear one another's burdens, and so fulfill the law of Christ.</p>

                    <p><b>Galatians 6:7-9  </b><br>
                    Do not be deceived: God is not mocked, for whatever one sows, that will he also reap. For the one who sows to his own flesh will from the flesh reap corruption, but the one who sows to the Spirit will from the Spirit reap eternal life. And let us not grow weary of doing good, for in due season we will reap, if we do not give up.</p>

                    <p><b>Galatians 6:14  </b><br>
                    But far be it from me to boast except in the cross of our Lord Jesus Christ, by which the world has been crucified to me, and I to the world.</p>

                    <p><b>Ephesians 1:3</b><br>
                    Blessed be the God and Father of our Lord Jesus Christ, who has blessed us in Christ with every spiritual blessing in the heavenly places.</p>

                    <p><b>Ephesians 2:8-10  </b><br>
                    For by grace you have been saved through faith. And this is not your own doing; it is the gift of God, not a result of works, so that no one may boast. For we are his workmanship, created in Christ Jesus for good works, which God prepared beforehand, that we should walk in them.</p>

                    <p><b>Ephesians 2:14</b><br>
                    For he himself is our peace, who has made us both one and has broken down in his flesh the dividing wall of hostility.</p>

                    <p><b>Ephesians 3:16-21</b><br>
                    That according to the riches of his glory he may grant you to be strengthened with power through his Spirit in your inner being, so that Christ may dwell in your hearts through faith—that you, being rooted and grounded in love, may have strength to comprehend with all the saints what is the breadth and length and height and depth, and to know the love of Christ that surpasses knowledge, that you may be filled with all the fullness of God. Now to him who is able to do far more abundantly than all that we ask or think, according to the power at work within us, to him be glory in the church and in Christ Jesus throughout all generations, forever and ever. Amen.</p>

                    <p><b>Ephesians 4:11-12</b><br>
                    And he gave the apostles, the prophets, the evangelists, the shepherds and teachers, to equip the saints for the work of ministry, for building up the body of Christ.</p>

                    <p><b>Ephesians 4:22-24 </b><br>
                    To put off your old self, which belongs to your former manner of life and is corrupt through deceitful desires, and to be renewed in the spirit of your minds, and to put on the new self, created after the likeness of God in true righteousness and holiness.</p>

                    <p><b>Ephesians 5:1-2  </b><br>
                    Therefore be imitators of God, as beloved children. And walk in love, as Christ loved us and gave himself up for us, a fragrant offering and sacrifice to God.</p>

                    <p><b>Ephesians 5:11  </b><br>
                    Take no part in the unfruitful works of darkness, but instead expose them.</p>

                    <p><b>Ephesians 5:15-16</b><br>
                    Look carefully then how you walk, not as unwise but as wise, making the best use of the time, because the days are evil.</p>

                    <p><b>Ephesians 6:10-12</b><br>
                    Finally, be strong in the Lord and in the strength of his might. Put on the whole armor of God, that you may be able to stand against the schemes of the devil. For we do not wrestle against flesh and blood, but against the rulers, against the authorities, against the cosmic powers over this present darkness, against the spiritual forces of evil in the heavenly places.</p>

                    <p><b>Philippians 1:6  </b><br>
                    And I am sure of this, that he who began a good work in you will bring it to completion at the day of Jesus Christ.</p>

                    <p><b>Philippians 1:21  </b><br>
                    For to me to live is Christ, and to die is gain.</p>

                    <p><b>Philippians 2:1-11</b><br>
                    So if there is any encouragement in Christ, any comfort from love, any participation in the Spirit, any affection and sympathy, complete my joy by being of the same mind, having the same love, being in full accord and of one mind. Do nothing from selfish ambition or conceit, but in humility count others more significant than yourselves. Let each of you look not only to his own interests, but also to the interests of others. Have this mind among yourselves, which is yours in Christ Jesus, who, though he was in the form of God, did not count equality with God a thing to be grasped, but emptied himself, by taking the form of a servant, being born in the likeness of men. And being found in human form, he humbled himself by becoming obedient to the point of death, even death on a cross. Therefore God has highly exalted him and bestowed on him the name that is above every name, so that at the name of Jesus every knee should bow, in heaven and on earth and under the earth, and every tongue confess that Jesus Christ is Lord, to the glory of God the Father.</p>

                    <p><b>Philippians 2:13</b><br>
                    For it is God who works in you, both to will and to work for his good pleasure.</p>

                    <p><b>Philippians 3:7-8  </b><br>
                    But whatever gain I had, I counted as loss for the sake of Christ. Indeed, I count everything as loss because of the surpassing worth of knowing Christ Jesus my Lord. For his sake I have suffered the loss of all things and count them as rubbish, in order that I may gain Christ</p>

                    <p><b>Philippians 3:13-14  </b><br>
                    Brothers, I do not consider that I have made it my own. But one thing I do: forgetting what lies behind and straining forward to what lies ahead, I press on toward the goal for the prize of the upward call of God in Christ Jesus.</p>

                    <p><b>Philippians 4:6-7  </b><br>
                    Do not be anxious about anything, but in everything by prayer and supplication with thanksgiving let your requests be made known to God. And the peace of God, which surpasses all understanding, will guard your hearts and your minds in Christ Jesus.</p>

                    <p><b>Philippians 4:8</b><br>
                    Finally, brothers, whatever is true, whatever is honorable, whatever is just, whatever is pure, whatever is lovely, whatever is commendable, if there is any excellence, if there is anything worthy of praise, think about these things.</p>

                    <p><b>Philippians 4:19  </b><br>
                    And my God will supply every need of yours according to his riches in glory in Christ Jesus.</p>

                    <p><b>Colossians 3:1-2  </b><br>
                    If then you have been raised with Christ, seek the things that are above, where Christ is, seated at the right hand of God. Set your minds on things that are above, not on things that are on earth.</p>

                    <p><b>1 Thessalonians 5:16-18  </b><br>
                    Rejoice always, pray without ceasing, give thanks in all circumstances; for this is the will of God in Christ Jesus for you.</p>

                    <p><b>1 Timothy 6:6-8  </b><br>
                    But godliness with contentment is great gain, for we brought nothing into the world, and we cannot take anything out of the world. But if we have food and clothing, with these we will be content.</p>

                    <p><b>2 Timothy 1:7  </b><br>
                    For God gave us a spirit not of fear but of power and love and self-control.</p>

                    <p><b>2 Timothy 1:12   </b><br>
                    Which is why I suffer as I do. But I am not ashamed, for I know whom I have believed, and I am convinced that he is able to guard until that Day what has been entrusted to me.</p>

                    <p><b>2 Timothy 2:3-4  </b><br>
                    Share in suffering as a good soldier of Christ Jesus. No soldier gets entangled in civilian pursuits, since his aim is to please the one who enlisted him.</p>

                    <p><b>2 Timothy 2:21  </b><br>
                    Therefore, if anyone cleanses himself from what is dishonorable, he will be a vessel for honorable use, set apart as holy, useful to the master of the house, ready for every good work.</p>

                    <p><b>2 Timothy 3:16-17  </b><br>
                    All Scripture is breathed out by God and profitable for teaching, for reproof, for correction, and for training in righteousness, that the man of God may be complete, equipped for every good work.</p>

                    <p><b>2 Timothy 4:6-8 </b><br>
                    For I am already being poured out as a drink offering, and the time of my departure has come. I have fought the good fight, I have finished the race, I have kept the faith. Henceforth there is laid up for me the crown of righteousness, which the Lord, the righteous judge, will award to me on that Day, and not only to me but also to all who have loved his appearing.</p>

                    <p><b>Hebrews 4:12 </b><br>
                    For the word of God is living and active, sharper than any two-edged sword, piercing to the division of soul and of spirit, of joints and of marrow, and discerning the thoughts and intentions of the heart.</p>

                    <p><b>Hebrews 4:15-16  </b><br>
                    For we do not have a high priest who is unable to sympathize with our weaknesses, but one who in every respect has been tempted as we are, yet without sin. Let us then with confidence draw near to the throne of grace, that we may receive mercy and find grace to help in time of need.</p>

                    <p><b>Hebrews 10:23-25  </b><br>
                    Let us hold fast the confession of our hope without wavering, for he who promised is faithful. And let us consider how to stir up one another to love and good works, not neglecting to meet together, as is the habit of some, but encouraging one another, and all the more as you see the Day drawing near.</p>

                    <p><b>Hebrews 11:1</b><br>
                    Now faith is the assurance of things hoped for, the conviction of things not seen.</p>

                    <p><b>Hebrews 11:6 </b><br>
                    And without faith it is impossible to please him, for whoever would draw near to God must believe that he exists and that he rewards those who seek him.</p>

                    <p><b>Hebrews 12:1-2  </b><br>
                    Therefore, since we are surrounded by so great a cloud of witnesses, let us also lay aside every weight, and sin which clings so closely, and let us run with endurance the race that is set before us,</p>

                    <p><b>Hebrews 12:4  </b><br>
                    In your struggle against sin you have not yet resisted to the point of shedding your blood.</p>

                    <p><b>Hebrews 12:11  </b><br>
                    For the moment all discipline seems painful rather than pleasant, but later it yields the peaceful fruit of righteousness to those who have been trained by it.</p>

                    <p><b>James 4:7  </b><br>
                    Submit yourselves therefore to God. Resist the devil, and he will flee from you.</p>

                    <p><b>1 Peter 1:18-19</b><br>
                    Knowing that you were ransomed from the futile ways inherited from your forefathers, not with perishable things such as silver or gold, but with the precious blood of Christ, like that of a lamb without blemish or spot.</p>

                    <p><b>1 Peter 2:9 </b><br>
                    But you are a chosen race, a royal priesthood, a holy nation, a people for his own possession, that you may proclaim the excellencies of him who called you out of darkness into his marvelous light.</p>

                    <p><b>1 Peter 2:11-12</b><br>
                    Beloved, I urge you as sojourners and exiles to abstain from the passions of the flesh, which wage war against your soul. Keep your conduct among the Gentiles honorable, so that when they speak against you as evildoers, they may see your good deeds and glorify God on the day of visitation.</p>

                    <p><b>1 Peter 2:21  </b><br>
                    For to this you have been called, because Christ also suffered for you, leaving you an example, so that you might follow in his steps.</p>

                    <p><b>1 Peter 3:15-16</b><br>
                    But in your hearts honor Christ the Lord as holy, always being prepared to make a defense to anyone who asks you for a reason for the hope that is in you; yet do it with gentleness and respect, having a good conscience, so that, when you are slandered, those who revile your good behavior in Christ may be put to shame.</p>

                    <p><b>1 Peter 4:7-8</b><br>
                    The end of all things is at hand; therefore be self-controlled and sober-minded for the sake of your prayers. Above all, keep loving one another earnestly, since love covers a multitude of sins.</p>

                    <p><b>1 Peter 4:10  </b><br>
                    As each has received a gift, use it to serve one another, as good stewards of God's varied grace.</p>

                    <p><b>1 Peter 5:6-7</b><br>
                    Humble yourselves, therefore, under the mighty hand of God so that at the proper time he may exalt you, casting all your anxieties on him, because he cares for you.</p>

                    <p><b>1 Peter 5:8-9</b><br>
                    Be sober-minded; be watchful. Your adversary the devil prowls around like a roaring lion, seeking someone to devour. Resist him, firm in your faith, knowing that the same kinds of suffering are being experienced by your brotherhood throughout the world.</p>

                    <p><b>2 Peter 3:8-9</b><br>
                    But do not overlook this one fact, beloved, that with the Lord one day is as a thousand years, and a thousand years as one day. The Lord is not slow to fulfill his promise as some count slowness, but is patient toward you, not wishing that any should perish, but that all should reach repentance.</p>

                    <p><b>1 John 1:9  </b><br>
                    If we confess our sins, he is faithful and just to forgive us our sins and to cleanse us from all unrighteousness.</p>

                    <p><b>1 John 2:15-16 </b><br>
                    Do not love the world or the things in the world. If anyone loves the world, the love of the Father is not in him. For all that is in the world—the desires of the flesh and the desires of the eyes and pride of life — is not from the Father but is from the world.</p>

                    <p><b>1 John 3:16  </b><br>
                    By this we know love, that he laid down his life for us, and we ought to lay down our lives for the brothers.</p>

                    <p><b>1 John 4:4  </b><br>
                    Little children, you are from God and have overcome them, for he who is in you is greater than he who is in the world.</p>

                    <p><b>1 John 4:17-19</b><br>
                    By this is love perfected with us, so that we may have confidence for the day of judgment, because as he is so also are we in this world. There is no fear in love, but perfect love casts out fear. For fear has to do with punishment, and whoever fears has not been perfected in love. We love because he first loved us.</p>

                    <p><b>1 John 5:3</b><br>
                    For this is the love of God, that we keep his commandments. And his commandments are not burdensome.</p>

                    <p><b>1 John 5:13-15</b><br>
                    I write these things to you who believe in the name of the Son of God that you may know that you have eternal life. And this is the confidence that we have toward him, that if we ask anything according to his will he hears us. And if we know that he hears us in whatever we ask, we know that we have the requests that we have asked of him.</p>

                    <p><b>Revelation 3:20 </b><br>
                    Behold, I stand at the door and knock. If anyone hears my voice and opens the door, I will come in to him and eat with him, and he with me.</p>
                </ol>
            </div>
        </div>
    </div>
</div>

