// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$teal: #324148;

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 56px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 64px;
}

h2 {
  // text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -10px;
    right: -10px;
    bottom: -1px;
    height: 12px;
    opacity: 0.8;
    background-color: gold;
  }
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
}

body {
  font-size: 16px;
  font-weight: 300;
}

.topnav {
  background: white;

  .navbar-brand {
    font-weight: 700;
  }
}

.container--padding {
  padding: 100px 0;
}

.completed {
  padding: 85px 0px;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  color: black;
}

.content-section-b {
  padding: 50px 0;
  background: $teal;
  color: white;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer-center {
  float: center;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.section-heading-spacer-left {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/xmas-challenge.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

p.copyright {
  margin: 15px 0 0;
}

.all-comments {
  padding: 0 20px;
}

// <--------------------->

.flash {
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 24px;
  right: 24px;
}
